@import "./variables.scss";

.btn {
    font-size: 16px;
    cursor: pointer;
    padding: 7px 16px;
    font-family: 'Lato';
    font-weight: 400;
    
    @media(min-width: 768px){
        font-size: 18px;
    }
    
    &--primary {
        background-color: $blue;
        color: $white;
        border: 2px solid $blue;
        letter-spacing: 2px;

        &:hover, &:focus {
            background-color: $white;
            color: $blue;
        }
    }

    &--secondary {
        background-color: $white;
        color: $blue;
        border: 2px solid $white;
        font-size: 20px;
        border-radius: 7px;
        line-height: 1.2;

        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
    }

    &--tertiary {
        background-color: #000;
        color: $white;
        font-size: 18px;
        border: 1px solid #000;
        padding: 4px 16px;
        min-height: 20px;
        
        &:hover, &:focus {
            background-color: $white;
            color: $black;
        }
    }
}