@import "./variables.scss";

.btn {
    font-size: 16px;
    cursor: pointer;
    padding: 7px 16px;
    font-family: 'Lato';
    font-weight: 400;
    
    @media(min-width: 768px){
        font-size: 18px;
    }
    
    &--primary {
        background-color: $blue;
        color: $white;
        border: 2px solid $blue;
        letter-spacing: 2px;

        &:hover, &:focus {
            background-color: $white;
            color: $blue;

            .btn__icon {
                svg {
                    fill: $blue;
                }
            }
        }
    }

    &--secondary {
        background-color: $white;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 7px;
        line-height: 1.2;
        font-size: 16px;
        
        @media(min-width: 768px){
            font-size: 20px;
        }

        .btn__icon {
            svg {
                fill: $blue;
            }
        }

        &:hover, &:focus {
            background-color: $blue;
            color: $white;

            .btn__icon {
                svg {
                    fill: $white;
                }
            }
        }
    }

    &--tertiary {
        background-color: #000;
        color: $white;
        font-size: 16px;
        border: 1px solid #000;
        padding: 4px 16px;
        min-height: 20px;

        @media(min-width: 768px){
            font-size: 18px;
        }

        &:hover, &:focus {
            background-color: $white;
            color: $black;

            .btn__icon {
                svg {
                    fill: $black;
                }
            }
            
        }
    }

    /** Colors **/
    &--blue {
        background-color: $blue;
        color: $white;
        border: 2px solid $blue;

        &:hover, &:focus {
            background-color: $white;
            color: $blue;

            .btn__icon {
                svg {
                    fill: $blue;
                }
            }
        }
    }

    &--red {
        background-color: $red;
        color: $white;
        border: 2px solid $red;

        &:hover, &:focus {
            background-color: $white;
            color: $red;

            .btn__icon {
                svg {
                    fill: $red;
                }
            }
        }
    }


    /** Icon **/
    &.btn--has-icon {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 15px;

        svg {
            fill: $white;
        }
    }


    /** Dark mode **/
    &.dark-mode {
        background: $white !important;
        border: 1px solid $blue !important;
        color: $blue !important;

        &:hover, &:focus {
            background: $blue !important;
            border: 1px solid $white !important;
            color: $white !important;
        }
    }
}