@import "./variables.scss";

.card {

    display: flex;
    align-items: flex-start;
    color: $white;
    margin-right: 30px;
    height: 100%;
    position: relative;
    text-decoration: none;
    
    &__image {
        background: $light-blue;
        min-height: 200px;
        position: absolute;
        top: 0;
        left: 20px;
        border-top-right-radius: 75px;
        border-top-left-radius: 75px;
        overflow: hidden;
    }
    
    &__content {
        background: $blue;
        width: 100%;
        padding: 15px 20px 25px;
        padding-left: 168px;
        height: calc(100% - 50px);
        border-radius: 20px;
        margin-top: 44px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            font-weight: 100;
            font-size: 16px;
            margin-top: 10px;
        }

        &-category {
            font-size: 16px;
            cursor: pointer;

            background-color: $white;
            color: $blue;
            padding: 7px 15px;
            font-family: 'Lato';
            font-weight: 400;
            border-radius: 15px;
        }
    }

}