.slick-slide {
    height: auto;

    & > div {
        height: 100%;
    }
}

.slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.slick-arrow {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media(min-width: 768px){
        justify-content: center;
    }

    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        li, li button {
            padding: 0;
            width: 18px;
            height: 18px;
        }
    }

    button {
        position: relative;
        left: 0;
        right: 0;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.slick-grid {
    .slick-slide {

        @media(min-width: 768px){
            .card {
                margin-right: 8px;
            }
        }

        @media(min-width: 992px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 225px);
    
            .card {
                margin-bottom: 8px;
                height: 98%;

                // @media(min-width: )
            }
        }
    }
}