/** Lato Regular**/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 400;
}

/** Lato Bold**/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: 700;
}

/** Lato Black - Extra Bold**/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf');
    font-weight: 900;
}

/** Cormorant Garamond Regular**/
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/CormorantGaramond-Regular.ttf');
    font-weight: 400;
}

/** Cormorant Garamond Semi-Bold**/
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/CormorantGaramond-SemiBold.ttf');
    font-weight: 600;
}

/** Bodoni Moda Regular**/
@font-face {
    font-family: 'Bodoni Moda';
    src: url('../fonts/BodoniModa.ttf');
    font-weight: 400;
}

/** Bodoni Moda Semi-Bold**/
@font-face {
    font-family: 'Bodoni Moda';
    src: url('../fonts/BodoniModa.ttf');
    font-weight: 600;
}

/** Bodoni Moda Bold**/
@font-face {
    font-family: 'Bodoni Moda';
    src: url('../fonts/BodoniModa.ttf');
    font-weight: 700;
}