@import "./variables.scss";

.footer {
    background-color: $blue;
    padding: 30px 0;

    @media(min-width: 768px){
        padding: 70px 0;
    }

    .container-wrapper {
        display: flex;
        flex-direction: column;

        @media(min-width: 768px){
            flex-direction: row;
        }
    }

    a {
        text-decoration: none;

        &:hover, &:focus {
            color: inherit;
        }

        &:link, &:visited{
            color: inherit;
        }
    }

    h4 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
    }

    &__left, &__right {
        flex: 1 0 100%;
        color: $white;
    }

    &__left {
        @media(min-width: 768px){
            flex: 1 0 40%;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        @media(min-width: 768px){
            margin-top: 0;
        }

        & > div {
            width: 100%;
            max-width: 500px;
        }

        .footer__nav-links {
            display: flex;
            flex-direction: column;

            @media(min-width: 768px){
                flex-direction: row;
            }

            ul {
                list-style: none;
                padding: 0;

                li:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            & > * {
                flex: 1 0 100%;

                @media(min-width: 768px){
                    flex: 1 0 50%;
                }
            }
        }

        @media(min-width: 768px){
            flex: 1 0 60%;
        }
    }

    form label {
        max-width: 500px;

        input {
            flex: 1 0 60%;
            width: 60%;
        }

        button {
            flex: 1 0 40%;
            width: 40%;
        }
    }
}