@import "./fonts.scss";
@import "./variables.scss";

*,
*::before, 
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    line-height: 1.1;
    font-family: 'Lato';
    font-weight: 400;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
} 

h1, h2, .h1, .h2 {
    font-family: 'Bodoni Moda';
    font-weight: 400;
    color: $text-color;
}

h1, .h1 {
    font-size: 40px;
    line-height: 1.2;

    @media(min-width: 992px){
        font-size: 60px;
    }

    @media(min-width: 1200px){
        font-size: 70px;
    }

    @media(min-width: 1400px){
        font-size: 90px;
    }
    
    @media(min-width: 1600px){
        font-size: 100px;
    }
}

h2, .h2 {
    font-size: 35px;
    line-height: 1.2;

    @media(min-width: 992px){
        font-size: 45px;
    }

    @media(min-width: 1200px){
    }

    @media(min-width: 1400px){
        font-size: 55px;
    }
    
    @media(min-width: 1600px){
        font-size: 65px;
    }
}

h3, .h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    
    @media(min-width: 768px){
        font-size: 24px;
    }
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    color: $light-grey;
    text-decoration: none;
    display: flex;
    align-items: center;
    min-width: 80px;
    
    span {
        border-bottom: 1px solid $light-grey;
        margin-right: 10px;
        transition: margin-right .3s ease;
    }

    &::after {
        content: "";
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='17' viewBox='0 0 22 34' fill='%23979797' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.74007 33.6668C2.90007 33.6668 2.06007 33.2501 1.64007 32.8334C0.380068 31.5834 0.380068 29.5001 1.64007 28.2501L12.9801 17.0001L1.64007 5.75008C0.380068 4.50008 0.380068 2.41675 1.64007 1.16675C2.90007 -0.0832521 5.00007 -0.0832521 6.26007 1.16675L20.1201 14.5001C21.3801 15.7501 21.3801 17.8334 20.1201 19.0834L6.26007 32.4168C5.42007 33.2501 4.58007 33.6668 3.74007 33.6668Z' fill='%23979797'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 7px;
        height: 17px;
    }
    
    &:hover, &:focus {
        color: $blue;

        span {
            border-bottom-color: $blue;
            margin-right: 15px;
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='17' viewBox='0 0 22 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.74007 33.6668C2.90007 33.6668 2.06007 33.2501 1.64007 32.8334C0.380068 31.5834 0.380068 29.5001 1.64007 28.2501L12.9801 17.0001L1.64007 5.75008C0.380068 4.50008 0.380068 2.41675 1.64007 1.16675C2.90007 -0.0832521 5.00007 -0.0832521 6.26007 1.16675L20.1201 14.5001C21.3801 15.7501 21.3801 17.8334 20.1201 19.0834L6.26007 32.4168C5.42007 33.2501 4.58007 33.6668 3.74007 33.6668Z' fill='%23191177'/%3E%3C/svg%3E%0A");
        }
    }
}

.section {
    margin-top: 40px;
    position: relative;
    z-index: 100;

    &.section--no-margin-top {
        margin-top: 0;
    }

    &.section--negative-margin-top {
        @media(min-width: 992px){
            margin-top: -55px;
        }
        
        @media(min-width: 1200px){
            margin-top: -40px;
        }
    
        @media(min-width: 1400px){
            margin-top: -64px;
        }
    }

    &__title {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @media(min-width: 992px){
            width: 40%;
            margin-bottom: 50px;
        }

        &.section__title--with-padding {
            padding-left: $mobile-container-h-padding;
    
            @media(min-width: 992px){
                padding-left: $container-h-padding;
            }
        }
    }

    &__synopsis {
        p {
            font-weight: 400;
            color: $text-color;
            line-height: 1.7;
            font-size: 20px;
            
            @media(min-width: 768px){
                width: 65%;
            }   
            
            @media(min-width: 992px){
                font-size: 25px;
            }

            @media(min-width: 1200px){
                font-size: 30px;
            }
        }
    }

}