@import "./variables.scss";

.hero-images-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: end;
    justify-content: end;
    gap: 0;
    margin-top: 40px;
    margin-left: #{($mobile-container-h-padding) * -1};
    margin-right: #{($mobile-container-h-padding) * -1};

    @media(min-width: 768px){
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 266px);
        margin: 0;
    }


    @media(min-width: 992px){
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 330px);
        gap: 10px;
    }

    @media(min-width: 1400px){
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(2, 380px);
        gap: 15px;
    }

    @media(min-width: 1600px){
        padding-right: 50px;
        grid-template-columns: repeat(2, 317px);
        grid-template-rows: repeat(2, 450px);
        gap: 20px;
    }

    .image__item {
        @media(min-width: 992px){
            
            &:nth-child(1) {
                grid-column: 1 / span 1;
                align-self: end;
            }

            &:nth-child(2) {
                grid-column: 2 / span 1;
                align-self: end;
            }
            
            &:nth-child(3) {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
                transform: scaleY(-1);
                align-self: start;
                // display: flex;
                // justify-content: flex-end;
            }
            
            &:nth-child(4) {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
                align-self: start;
                transform: scaleY(-1);
            }

            img {
                object-fit: contain !important;
                // object-position: ;
                // max-height: 430px !important;
            }
        }

        @media(min-width: 1400px){
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                align-self: normal;
            }
        }
    }
}

.image__item {
    overflow: hidden;
    &.image__item--ceil {
        
        @media(min-width: 992px){
            border-top-right-radius: 48%;
            border-top-left-radius: 48%;
        }
    }
    &.image__item--ceil-left {
        @media(min-width: 992px){
            border-top-left-radius: 25%;
            border-bottom-left-radius: 25%;
        }
    }
}

/** Single image **/
.hero-image-wrapper {
    .image__item {
        img {
            filter: grayscale(1) !important;
            object-position: top !important;
            object-fit: contain !important;
            width: auto;

            @media(min-width: 768px){
                width: 100%;
            }

            @media(min-width: 992px){
                object-fit: cover !important;
            }
        }
    }
}