@import "./variables.scss";

.hero {
    position: relative;

    &-split {
        display: flex;
        flex-direction: column;

        @media(min-width: 768px){
            flex-direction: row;
        }
    }

    &-split__left, &-split__right {
        flex: 1 0 100%;

        @media(min-width: 768px){       
            flex: 1 0 50%;
        }
    }

    &-split__right {
    }


    &-split--landing {
        margin-top: #{($nav-height-desktop) * -1};
        padding-top: $nav-height-desktop;
        
        @media(min-width: 768px){
            margin-right: #{($mobile-container-h-padding) * -1};
        }

        @media(min-width: 992px){
            margin-right: 0;
        }

        .hero-split__left {
            & > div {

                @media(min-width: 768px){
                    padding-right: 30px;
                }

                @media(min-width: 1700px){
                    padding-right: 50px;
                }
            }

            h1 {
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                font-family: "Bodoni Moda";
                font-weight: 400;
                color: $light-grey;
                line-height: 1.5;
                margin-top: 0;

                @media(min-width: 768px){
                    font-size: 30px;
                    max-width: 600px;
                }
            }
        }

    }

    &-split--book {
        height: 100%;
        flex-direction: column-reverse;

        // @media(min-width: 530px){
        //     flex-direction: row-reverse;
        // }

        @media(min-width: 768px){
            flex-direction: row;
            min-height: 500px;
        }



        // @media(min-width: 768px) and (max-height: 699px) {
        //     height: 450px;
        // }

        @media(min-width: 992px) and (min-height: 730px){
            min-height: 65vh;
        }

        .hero-split__left {
            flex: 1 0 60%;

            // @media(min-width: 530px){
            //     padding-left: 20px;
            // }

            @media(min-width: 768px){
                display: flex;
                align-items: center;
                padding-left: 0;
            }

            h1 {

                @media(min-width: 768px){
                    padding-right: 20px;
                }

                @media(min-width: 992px){
                    margin-bottom: 50px;
                    padding-right: 30px;
                }
            }

            p {
                font-size: 20px;
                font-family: "Bodoni Moda";
                font-weight: 400;
                color: $light-grey;
                line-height: 1.5;
                margin-top: 0;

                @media(min-width: 992px){
                    font-size: 30px;
                    max-width: 600px;
                }
            }
        }

        .hero-split__right {
            flex: 1 0 20%;
            display: flex;
            justify-content: center;

            // @media(min-width: 530px){
            //     justify-content: flex-end;
            // }
            
            @media(min-width: 768px){
                flex: 1 0 40%;
                margin-right: -50px;
            }

            .hero-image-wrapper, .image__item, .image__item > * {
                @media(min-width: 768px){
                    width: 100%;
                    height: 100%;
                }
            }
        }   
    }

    &-split--author {

    }

    &--single {

    }


    /** Background colours **/
    &.hero--bg-yellow {
        background-color: $yellow;

        &.hero--landing {
            background-color: transparent;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $yellow;
                z-index: -1;

                @media(min-width: 992px){
                    height: calc(100% - 150px);
                }
            }
        }
    }
}