@import "./variables.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $light-grey-100;
    }

    &__content {
        background: white;
        z-index: 103;
        padding: 10px 40px;

        h3 {
            color: $blue;
        }
    }

    &.dark-mode {
        .modal__content {
            background: $blue;
        }
    }
}