@import "./variables.scss";

.subnav {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex: 1 0 100%;
    
    @media(min-width: 992px){
        flex: 1 0 20%;
        flex-direction: column;
        margin-bottom: 0;
    }

    a {
        background: $light-grey-200;
        padding: 20px;
        font-size: 20px;
        color: $blue;
        text-decoration: none;

        &.is-active {
            background: $blue;
            color: $white;
        }
    }

    &.dark-mode {
        a {
            background: $blue;
            color: $white;

            &.is-active {
                background: $light-grey-200;
                color: $blue;
            }
        }
    }
}