@import "./variables.scss";

.tabs-section {

    .slick-slide {
        @media(min-width: 768px){
            // width: auto !important;
            // margin-right: 10px;
        }
    }

    .slick-list {
        z-index: 10;
    }

    .slick-dots {
        padding: 0;

        @media(min-width: 1200px){
            position: absolute;
            margin: 0;
            top: -50%;
            height: auto;
            width: calc(100% + 100px);
            padding: 0;
            left: -50px;
        }

        ul {
            width: 100% !important;
            opacity: 0;
            visibility: hidden;

            & li, & button {
                display: none;

                @media(min-width: 768px){
                    display: block;
                }
            }
        }
    }

    .slick-active.slick-current {
        a > button {
            background: $blue !important;
            color: $white !important;
            border-color: $white !important;
        }


    }

    a > button {
        width: 100%;
        text-overflow: ellipsis;
        border: 1px solid $blue;
        white-space: nowrap;
        overflow: hidden;
        
        @media(min-width: 768px){
            // width: fit-content;
        }
    }
}
