$black: #2d2d2d;
$white: #ffff;
$blue: #191177;
$purple: #8378ff;
$yellow: rgba(255, 254, 226, 0.6);
$light-grey: #979797;

$text-color: $blue;

$container-h-padding: 50px;
$mobile-container-h-padding: 20px;

$nav-height-desktop: 91px;